In [163]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB

In [164]:
df = pd.read_csv('sample1.csv')

In [165]:
df.columns = ['age-range', 'gender', 'HAPPY', 'ANGRY', 'FEAR', 'NEUTRAL', 'SURPRISED', 'DISGUST']

In [166]:
df1 = pd.melt(df, 
              id_vars=['age-range', 'gender'], 
              value_vars=['HAPPY', 'ANGRY', 'FEAR', 'NEUTRAL', 'SURPRISED', 'DISGUST'], 
              var_name='emotion', 
              value_name='activity')
df1

,age-range,gender,emotion,activity
0,18-30 years,Male,HAPPY,"Just turn on a song you love, Watch a Movie or..."
1,18-30 years,Female,HAPPY,Sing a song
2,18-30 years,Female,HAPPY,"Watch a Movie or fun video clip., Follow a rec..."
3,18-30 years,Female,HAPPY,"Do things you usually enjoy, Make time for fri..."
4,18-30 years,Female,HAPPY,"Sing a song, Do things you usually enjoy, Make..."
5,Above 30 years,Male,HAPPY,Make time for kids
6,Above 30 years,Female,HAPPY,Do things you usually enjoy
7,18-30 years,Male,HAPPY,Watch a Movie or fun video clip.
8,18-30 years,Male,HAPPY,"Just turn on a song you love, Sing a song, Wat..."
9,18-30 years,Male,HAPPY,"Sing a song, Make time for friends."
10,18-30 years,Female,HAPPY,Spend Time With pets
11,18-30 years,Female,HAPPY,"Just turn on a song you love, Sing a song, Do ..."
12,18-30 years,Male,HAPPY,"Just turn on a song you love, Do things you us..."
13,18-30 years,Female,HAPPY,Just turn on a song you love
14,18-30 years,Male,HAPPY,"Do things you usually enjoy, Make time for fri..."
15,18-30 years,Female,HAPPY,"Sing a song, Watch a Movie or fun video clip.,..."
16,18-30 years,Male,HAPPY,"Just turn on a song you love, Do things you us..."
17,18-30 years,Female,HAPPY,"Do things you usually enjoy, Watch a Movie or ..."
18,18-30 years,Female,HAPPY,"Just turn on a song you love, Sing a song, Mak..."
19,18-30 years,Female,HAPPY,"Just turn on a song you love, Watch a Movie or..."
20,18-30 years,Male,HAPPY,"Just turn on a song you love, Do things you us..."
21,18-30 years,Male,ANGRY,"Sit in a quiet, comfortable space from your me..."
22,18-30 years,Female,ANGRY,Deep breathing and relaxing imagery
23,18-30 years,Female,ANGRY,"Eat a favorite food, Watch a fun video clip"
24,18-30 years,Female,ANGRY,Deep breathing and relaxing imagery
25,18-30 years,Female,ANGRY,"Sit in a quiet, comfortable space from your me..."
26,Above 30 years,Male,ANGRY,"go for a brisk walk, bike ride, run. Or do som..."
27,Above 30 years,Female,ANGRY,Deep breathing and relaxing imagery
28,18-30 years,Male,ANGRY,Consider starting at the top of your head and ...
29,18-30 years,Male,ANGRY,"Sit in a quiet, comfortable space from your me..."
...,...,...,...,...
96,18-30 years,Male,SURPRISED,hugging other (anyone around you)
97,18-30 years,Female,SURPRISED,Option 5
98,18-30 years,Male,SURPRISED,hugging other (anyone around you)
99,18-30 years,Female,SURPRISED,take photos
100,18-30 years,Male,SURPRISED,NaN
101,18-30 years,Female,SURPRISED,NaN
102,18-30 years,Female,SURPRISED,NaN
103,18-30 years,Female,SURPRISED,take photos
104,18-30 years,Male,SURPRISED,hugging other (anyone around you)
105,18-30 years,Male,DISGUST,Going through the social media platform
106,18-30 years,Female,DISGUST,Making a call to the close friend and share th...
107,18-30 years,Female,DISGUST,watching tv series/films continuously
108,18-30 years,Female,DISGUST,Thinking about past incidents
109,18-30 years,Female,DISGUST,Making a call to the close friend and share th...
110,Above 30 years,Male,DISGUST,Thinking about past incidents
111,Above 30 years,Female,DISGUST,Thinking about past incidents
112,18-30 years,Male,DISGUST,Going through the social media platform
113,18-30 years,Male,DISGUST,Making a call to the close friend and share th...
114,18-30 years,Male,DISGUST,Making a call to the close friend and share th...
115,18-30 years,Female,DISGUST,Making a call to the close friend and share th...
116,18-30 years,Female,DISGUST,Making a call to the close friend and share th...
117,18-30 years,Male,DISGUST,watching tv series/films continuously
118,18-30 years,Female,DISGUST,watching tv series/films continuously
119,18-30 years,Male,DISGUST,watching tv series/films continuously
120,18-30 years,Female,DISGUST,Making a call to the close friend and share th...
121,18-30 years,Male,DISGUST,NaN
122,18-30 years,Female,DISGUST,Going through the social media platform
123,18-30 years,Female,DISGUST,NaN
124,18-30 years,Female,DISGUST,Making a call to the close friend and share th...
125,18-30 years,Male,DISGUST,Making a call to the close friend and share th...

In [167]:
df1.head()
df2 = df1.dropna()
df2.describe()

,age-range,gender,emotion,activity
count,117,117,117,117
unique,2,2,6,62
top,18-30 years,Female,HAPPY,Making a call to the close friend and share th...
freq,105,67,21,9

In [168]:
df3 = df2.replace(
    ['18-30 years', 'Above 30 years', 'Male', 'Female', 'HAPPY', 'ANGRY', 'FEAR', 'NEUTRAL', 'SURPRISED', 'DISGUST'], 
    [0, 1, 0, 1, 0, 1, 2, 3, 4, 5])

In [169]:
activities = df3['activity'].unique()

In [170]:
activities.size

62

In [171]:
df4 = df3.sample(frac=1).reset_index(drop=True)

In [172]:
_x = df4.drop(labels=['activity'], axis=1)
X = np.array(_x)

_y = df4['activity']
y = np.array(_y)

In [173]:
dict1 = {}
dict2 = {}
__i = 0
for _i in range(len(X)):
    i = X[_i]
    x = '%s,%s,%s'%(i[0],i[1],i[2])

    y1 = y[_i]
    if x in dict1:
        dict1[x] = np.append(dict1[x], y1)
    else:
        dict1[x] = np.array([y1])
        __i = __i + 1
        dict2[x] = __i

In [174]:
def get_group(_dict1, _dict2, di):
    for d in _dict1:
        if di in _dict1[d]:
            return _dict2[d]
    return -1

In [175]:
get_group(dict1, dict2, y[2])

3

In [176]:
__y = np.zeros(len(y))
for yi in range(len(y)):
    __y[yi] = get_group(dict1, dict2, y[yi])
__y

array([ 1.,  2.,  3.,  4.,  5.,  3.,  7.,  1.,  6.,  5.,  8.,  9.,  3.,
       11.,  1.,  1.,  5., 11.,  4.,  3.,  7.,  8.,  8., 15.,  8., 11.,
       11.,  8., 11.,  8.,  4.,  6.,  5.,  8.,  5.,  1., 11.,  3., 11.,
        6.,  3.,  3.,  7.,  9., 11.,  3., 17.,  2.,  3.,  7., 11.,  1.,
       15., 12.,  9.,  9.,  6.,  1.,  1.,  6., 12., 18.,  2.,  5.,  8.,
        7.,  3.,  5.,  7.,  8.,  8.,  7., 19., 15.,  9.,  8., 11., 11.,
        9.,  1., 12.,  7., 11.,  7.,  9.,  1.,  9.,  7.,  3.,  1.,  5.,
        2.,  8.,  8.,  9.,  8.,  9., 12., 15., 12.,  6., 15.,  3.,  8.,
       11.,  1.,  6.,  7.,  1.,  8.,  9.,  3., 15.,  1.,  2.,  3.,  9.])

In [177]:
for x in dict1:
    print(x, len(dict1[x]))

0,1,2 10
1,0,4 1
0,1,1 11
1,0,5 1
0,0,0 8
0,0,1 8
0,1,0 11
0,1,5 10
0,0,3 7
1,0,1 1
0,0,4 7
0,0,2 7
1,1,5 1
0,0,5 7
0,1,3 10
0,1,4 9
1,1,0 1
1,0,0 1
1,1,3 1
1,1,2 1
1,0,3 1
1,0,2 1
1,1,1 1
1,1,4 1

In [178]:
len(dict1)
# __y.size

24

In [179]:
X_train, X_test, y_train, y_test = train_test_split(X, __y, test_size=0.27, random_state=5)
dict1.keys()

dict_keys(['0,1,2', '1,0,4', '0,1,1', '1,0,5', '0,0,0', '0,0,1', '0,1,0', '0,1,5', '0,0,3', '1,0,1', '0,0,4', '0,0,2', '1,1,5', '0,0,5', '0,1,3', '0,1,4', '1,1,0', '1,0,0', '1,1,3', '1,1,2', '1,0,3', '1,0,2', '1,1,1', '1,1,4'])

In [180]:
gnb = GaussianNB()
# mnb = MultinomialNB()
# cnb = ComplementNB()

y_pred_gnb = gnb.fit(X_train, y_train).predict(X_test)
# y_pred_mnb = mnb.fit(X_train, y_train).predict(X_test)
# y_pred_cnb = cnb.fit(X_train, y_train).predict(X_test)

In [181]:
(y_test != y_pred_gnb)

array([False,  True, False, False, False, False,  True, False, False,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False])

In [182]:
(X_test.shape[0], (y_test != y_pred_gnb).sum())

(32, 5)